<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calculator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="home_background text_white_bold">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  box-shadow ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Calculator" asp-action="Index"><span class="iconify" data-icon="fluent:calculator-20-filled" data-inline="false"  style="width:32px; height:32px"></span>CalcuSUS <img src="/assets/imposter.png" class="imposter" alt="imposter" />  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link  @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Calculator" ? "active" : "")" asp-area="" asp-controller="Calculator" asp-action="Index">Calculator</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="flex-grow-1 d-flex flex-column ">
        @RenderBody()
    </section>


    <footer class="footer">
        <div class="container d-flex align-content-center ">
            <p class="m-0"> &copy; 2021 - Calu - Created by Niria</p>
            <p class="ml-auto m-0 mx-1">Find more:</p>
            <a class="text-white" href="https://github.com/Niiria" target="_blank"> <span class="iconify" data-icon="fa-brands:git-square" style="width:32px; height:32px" data-inline="false"></span></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
