@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text_white_bold flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="container">
        <h1 class="display-1">Welcome!</h1>
        <p>Want to count your crewmates alive?</p>
        <p>...or maybe how many of them left to kill?</p>
        <a class="text-white font-md" asp-controller="Calculator" asp-action="Index">Try <span class="m-0 text-dark">S</span>US!</a>
    </div>
   
</div>
